@page
@model RazorPagesBaseball.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="GameResult" asp-items="Model.Results">
            <option value="">All</option>
        </select>
        <label>Opponent: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Opponent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].GameDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].HomeScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].OpponentScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].TicketPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Opponent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpponentScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
